@font-face{
font-family: 'Museo Sans Cyrl';
src: url('../fonts/MuseoSansCyrl-100.eot');
src: url('../fonts/MuseoSansCyrl-100.eot?iefix') format('eot'),
url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
url('../fonts/MuseoSansCyrl-100.svg#webfont') format('svg');
font-weight: 100;
font-style: normal;
}

@font-face{
font-family: 'Museo Sans Cyrl';
src: url('../fonts/MuseoSansCyrl-300.eot');
src: url('../fonts/MuseoSansCyrl-300.eot?iefix') format('eot'),
url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
url('../fonts/MuseoSansCyrl-300.svg#webfont') format('svg');
font-weight: 300;
font-style: normal;
}

@font-face{
font-family: 'Museo Sans Cyrl';
src: url('../fonts/MuseoSansCyrl-500.eot');
src: url('../fonts/MuseoSansCyrl-500.eot?iefix') format('eot'),
url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
url('../fonts/MuseoSansCyrl-500.svg#webfont') format('svg');
font-weight: 500;
font-style: normal;
}

@font-face{
font-family: 'Museo Sans Cyrl';
src: url('../fonts/MuseoSansCyrl-700.eot');
src: url('../fonts/MuseoSansCyrl-700.eot?iefix') format('eot'),
url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
url('../fonts/MuseoSansCyrl-700.svg#webfont') format('svg');
font-weight: 700;
font-style: normal;
}

@font-face{
font-family: 'Museo Sans Cyrl';
src: url('../fonts/MuseoSansCyrl-900.eot');
src: url('../fonts/MuseoSansCyrl-900.eot?iefix') format('eot'),
url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
url('../fonts/MuseoSansCyrl-900.svg#webfont') format('svg');
font-weight: 900;
font-style: normal;
}

@font-face{
font-family: 'corbel';
src: url('../fonts/corbel.eot');
src: url('../fonts/corbel.eot?iefix') format('eot'),
url('../fonts/corbel.woff') format('woff'),
url('../fonts/corbel.ttf') format('truetype'),
url('../fonts/corbel.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

body {
    font-family:  'corbel', 'Museo Sans Cyrl', Arial, serif;
    font-size: 15px;
    color: #3b240a;
    padding: 0;
    margin: 0;
    transition: all 0.4s ease;
}


p {
    margin: 0;
    padding: 0;
    font-family: 'Corbel';
    letter-spacing: 0.05em;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    font-family: 'Museo Sans Cyrl', arial, serif;
    background: #e2d9c8 url('../img/head.jpg') no-repeat center top;
    height: 635px;
    color: #8d7f6c;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Museo Sans Cyrl', arial, serif;
    font-weight: 700;
}

h1 {
    margin-top: 113px;
    color: #633c27;
    font-size: 67px;
    line-height: 50px;
}

.offer__small {
    font-size: 30px;
    font-weight: 300;
}

h2 {
    margin-top: 170px;
    font-size: 30px;
    z-index: 9;
    position: relative;
    margin-bottom: 75px;
}

.h2-wrapper {
   position: relative;
}

h3 {
    font-size: 15px;
    margin-bottom: 21px;
    margin-top: 35px;
}

#development .h2-wrapper:before {
    position: absolute;
    content: 'D';
    font-size: 200px;
    color: #f0efee;
    top: -100px;
    left: 27%;
    z-index: 0;
    font-weight: 700;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #8d7f6c;
}

header .container {
    position: relative;
    height: 635px;
}

.head {
    padding-top: 64px;
    text-align: center;
}

.head__logo {
    width: 142px;
    text-align: left;
    font-size: 17px;
    float: left;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

.head__logo span {
    color: #f8863d;
    font-weight: 900;
}

.head__menu {
    letter-spacing: 0.05em;
    font-weight: 500;
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
}

.head__menu li {
    display: inline;
    margin-right: 68px;
}

.head__menu li:last-child {
    margin-right: 0;
}

.menu__item a:hover {
    border-bottom: 2px solid #b9ac98;
    padding-bottom: 7px;
    transition: all 0.4s ease;
}

.mail {
    float: right;
    font-size: 13px;
    border-bottom: 1px solid #bbad9b;
    padding-bottom: 4px;
    font-weight: 100;
    letter-spacing: 0.025em;
}

.offer__description {
    color: #eeeeee;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    font-weight: 100;
    letter-spacing: 0.2em;
}

.arrow-wrapper {
    font-family: arial, serif;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 80px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
}

.list__item {
    width: 310px;
    text-align: center;
    display: inline-block;
    margin-right: 80px;
}

.list__item:last-child {
    margin-right: 0;
}

.list__item:before {
    display: block;
    content: '';
    background: url(../img/fire.svg) no-repeat;
    width: 79px;
    height: 79px;
    margin: 0 auto;
}

.apple:before {
    background: url(../img/apple.svg) no-repeat;   
}

.support:before {
    background: url(../img/support.svg) no-repeat;   

}

.development__list {
    margin-bottom: 131px;
    text-align: center;
}

#about {
    background: url(../img/about.jpg) no-repeat top center;
    height: 635px;
}

#about h2 {
    padding-top: 77px;
    margin-top: 0;
    margin-bottom: 35px;
}

.about__text {
    width: 570px;
    margin-bottom: 90px;
}

.about__text p {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 25px;
}

.h2-wrapper:before {
    position: absolute;
    content: '';
    font-size: 200px;
    color: #f0efee;
    top: -100px;
    left: 38%;
    z-index: 0;
    font-family: 'Museo Sans Cyrl', arial, serif;
    font-weight: 700;
}

#skills .h2-wrapper:before {
    content: 'S';
    font-family: 'Museo Sans Cyrl', arial, serif;
    font-weight: 700;
}

.skills__item {
    margin-bottom: 75px;
    width: 390px;
    text-align: left;
}

.skills__item:before {
    display: block;
    content: '';
    background: url(../img/ps.svg) no-repeat;
    width: 107px;
    height: 107px;
    float:left;
    margin-right: 40px;
}

.skills__item h3 {
    margin-top: 0;
    padding-top: 3px;
    width: 390px;
    text-align: left;
}

.responsive:before {
    background: url(../img/responsive.svg) no-repeat; 
}

.code:before {
    background: url(../img/code.svg) no-repeat; 
}

.ai:before {
    background: url(../img/ai.svg) no-repeat;
}

.left-skills {
    margin-right: 135px;
    display: inline-block;
}

.right-skills {
    display: inline-block;
}

.skills {
    text-align: center;
    margin-bottom: 60px;
}

#portfolio {
    background: #968681 url(../img/portfolio.jpg) no-repeat top center; 
    height: 1013px;
}

#portfolio h2 {
    padding-top: 175px;
    margin-top: 0;
    color: #fff;
}

#portfolio .h2-wrapper:before {
    content: 'P';
    color: rgba(255, 255, 255, 0.05);
    top: 85px;
    left: 32%;
}

.card__item {
    background-color: #fff;
    width: 369px;
    height: 495px;
    overflow: hidden;
    display: inline-block;
    margin-right: 28px;
}

.card__item:last-child {
    margin-right: 0;
}

#portfolio h3 {
    text-align: left;
    padding: 0 40px;
}

.card__item:before {
    content: ' ';
    display: block;
    background: url(../img/first.jpg) no-repeat top center;
    height: 223px;
    width: 369px;
}

.second:before {
    background: url(../img/second.jpg) no-repeat top center;
}

.third:before {
    background: url(../img/third.jpg) no-repeat top center;
}

.card__item:hover {
    box-shadow: 0 0 25px;
}

.portfolio__description {
    margin-bottom: 25px;
    padding: 0 40px;
}

.view {
    color: #d15505;
    margin-left: 40px;
}

.view:hover {
    border-bottom: 1px solid #da7737;
    transition: all 0.4s ease;
}

.portfolio__info {
    height: 230px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 0;
}

.portfolio__info:before {
    content: ' ';
    display: block;
    background: #f8863d;
    height: 4px;
    width: 100%;
    padding: 0;
}

.portfolio__cards {
    text-align: center;
}

.btn {
    font-family: 'Museo Sans Cyrl', arial, serif;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 14px 73px;
    box-sizing: content-box;
    text-transform: uppercase;
    border-radius: 25px;
}

.button {
    text-align: center;
    margin-top: 50px;
}

.btn:hover {
    background: #fff;
    color: #3b240a;
    transition: all 0.4s ease;
}

#contacts .h2-wrapper:before {
    content: 'C';
    top: -100px;
    left: 36%;
}

#contacts input, #contacts textarea  {
    display: block;
    width: 703px;
    margin: 0 auto;
    margin-bottom: 7px;
    border: 1px solid #868686;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(22, 33, 39, 0.2);
    box-sizing: border-box;
    padding: 12px 27px;
    font-family:  corbel, arial, serif;
    font-size: 17px;
}

::-webkit-input-placeholder {color:#afa9a4;}
::-moz-placeholder          {color:#afa9a4;}/* Firefox 19+ */
:-moz-placeholder           {color:#afa9a4;}/* Firefox 18- */
:-ms-input-placeholder      {color:#afa9a4;}

#contacts input {
    height: 45px;
}

#contacts textarea {
    height: 233px;
}

.form {
    text-align: center;
}

.contacts__btn {
    background-color: #fff;
    margin-top: 3px;
    border-color: #f8863d;
    color: #f8863d;
    cursor: pointer;
    margin: 0 auto;
}

.contacts__btn:hover {
    background-color: #f8863d;
}

footer {
    background: #c07838 url(../img/footer.jpg) no-repeat bottom center;
    height: 430px;
}

.line {
    padding-top: 281px;
    text-align: center;
    line-height: 44px;
}

.footer__logo {
    color: #fff;
    width: 201px;
}

.footer__logo span {
    color: #ee5d01;
    font-weight: 900;
}

.footer__copirate {
    font-size: 13px;
    color: #e5c8b9;
    font-family: 'Museo Sans Cyrl', arial, serif;
    font-weight: 300;
    letter-spacing: 0.2em;
    display: inline;
}

.footer__social {
    float: right;
}

.footer__social a {
    margin-left: 9px;
}

.footer__social img:hover {
        box-shadow: 0 0 5px rgba(255,255,255,0.5);
        border-radius: 50%;
}
